html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    color: #775E49;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

body {
    overflow-x: hidden;
    background-color: #F4DE8E;
    font-size: 16px;
}

h2 {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 0.05em;
    border-bottom: 3px solid #775E49;
    display: inline-block;
}

.pcOnly{
    display: block;
}
.spOnly{
    display: none;
}

.txtAttention {
    font-size: 24px;
}

.txtAttention span {
    font-weight: bold;
    font-size: 24px;
}

/* 下から */

.fadeUp{
    animation-name:fadeUpAnime;
    animation-duration:1s;
    animation-fill-mode:forwards;
    opacity:0;
    }
    
    @keyframes fadeUpAnime{
      from {
        opacity: 0;
      transform: translateY(100px);
      }
    
      to {
        opacity: 1;
      transform: translateY(0);
      }
    }


/* メイン */

.section1 {
    background-color: #F4DE8E;
}

.container {
    width: 1200px;
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
}

.ashirai{
    position: absolute;
}

/* ヘッダー */

.Logo {
    padding-top: 34px;
    margin-left: 40px;
}

/* メインビジュアル */

.wrapper_MV-Area {
    width: 100%;
    height: 34vw;
    max-height: 520px;
}

.MV-Area {
    background-color: #FFF8E1;
    border-radius: 20px;
    box-shadow: 30px 30px #E8CC65;
    max-width: 1200px;
    width: 100%;
    height: 33vw;
    max-height: 460px;
    position: relative;
}

.MV-Area::after {
    content: "";
    position: absolute;
    width: 174px;
    height: 174px;
    top: 24vw;
    right: -4vw;
    background: url(images/img01.png) no-repeat;
    background-size: contain;
}

.MA-child0 {
    top: 0;
    position: relative;
}

.MA-child0 img {
    width: 100%;
    max-width: 1200px;
}

.MA-child1 {
    top: -10px;
    position: relative;
    display: flex;
    justify-content: center;
}


.MA-child2 {
    width: 42%;
}

.MA-child2 img {
    width: 37vw;
    max-width: 474px;
}


.MA-child3 {
    width: 36%;
}

.MA-child3 img {
    width: 24vw;
    max-width: 330px;
    top: 20px;
    position: relative;
}

.Whats-Area {
    display: flex;
    margin-top: 96px;
    margin-bottom: 64px;
}

.WA-child.left {
    width: 60%;
    text-align: left;
    background-color: #FFF8E1;
    border-radius: 20px;
    padding: 70px 80px 60px;
}

.WA-child.left::after {
    content: "";
    position: absolute;
    width: 10%;
    height: 204px;
    top: 940px;
    left: 8vw;
    background: url(images/img02.png) no-repeat;
    background-size: contain;
}

.WA-child.left h2 {
    font-size: 40px;
    line-height: 3rem;
    margin-bottom: 32px;
}

.WA-child.left h2::before {
    content: "";
    position: absolute;
    width: 20vw;
    height: 200px;
    top: 690px;
    left: 33vw;
    background: url(images/whats-en.svg) no-repeat;
    background-size: contain;
}

.WA-child.left h2::after {
    content: "";
}

.WA-child.right {
    width: 50%;
}


/* .WA-child.right::after {


.WA-child.right p {}

.WA-child.right::after {

    content: "";
    position: absolute;
    width: 20vw;
    height: 204px;
    top: 810px;
    left: 78vw;
    background: url(images/img03.png) no-repeat;
    background-size: contain;
    z-index: 10;
} */

.WA-child.right p {

    position: relative;
    z-index: 10;
    left: 15vw;
    top: 20px;
    width: 40%;
}

.WA-child.right p::before {
    content: "";
    position: absolute;
    width: 50vw;
    height: 380px;
    top: -66px;
    left: -234px;
    background: url(images/whats-img.png) no-repeat;
    background-size: contain;
    z-index: -1;
}

.fadeUp {
    animation-name: fadeUpAnime;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}
.careerImg{
    padding: 0 0 120px;
}
.careerImg img {
    width: 100%;
}

/* Whos-Area */

.section2 {
    background-color: #FFF8E1;
    height: 704px;
    margin: 0 calc(50% - 50vw);
    width: 100vw;
}

.Whos-Area {
    width: 100%;
}

.WhosA-flex {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.WhosA-title {
    width: 100%;
    padding-top: 120px;
    margin-bottom: 44px;
    text-align: center;
}

.WhosA-title h2 {
    display: inline-block;
    border-bottom: 3px solid #775E49;
    position: relative;
}
.WhosA-title h2 .ashirai{
top: -76px;
left: -70px;
}

.WhosA-child1,
.WhosA-child2 {
    width: 50%;
    margin-bottom: 100px;
    position: relative;
}

.WhosA-child1 img {
   width: 100%;
}

.WhosA-child1 .ashirai{
    top: -90px;
    left: -200px;
    width: 80%;
}

.WhosA-child2 {
    text-align: left;
}

.WhosA-child2 span {
    font-weight: bold;
}


/* .Whos-Area,
.How_to-Area,
.Case-Area h2 {
    border-bottom: 3px solid #775E49;
} */

/* How_to-Area */

.wrapper_How_to-Area {
    margin: 120px 0 140px;
}

.how_to-Area{
    display: flex;
}

.how_to_left{
    width: 60%;
    text-align: left;
    background-color: #FFF8E1;
    border-radius: 20px;
    padding: 70px 80px 60px;
}

.how_to_right{
    width: 50%;
}

.how_to_right img{
width: 100%;
}

/* Case-Area */

.section4 {
    background-color: #FFF8E1;
    height: 704px;
}

.Case-Area {
    max-width: 1200px;
    width: 100%;
}

.Case-title {
    width: 216px;
    padding-top: 120px;
    margin-bottom: 80px;
    text-align: center;
    margin: 0 auto;
}

.Case-title h2 {
    display: inline-block;
    border-bottom: 3px solid #775E49;
}

/* 装飾画像 */

.Case {

    content: "";
    position absolute;
    width: 182.61px;
    height: 89.96px;
    top: 3371px;
    left: 741px;
    background: url(images/case-en.svg) no-repeat;
    background-size: contain;
}

.Case-title h2::after {
    content: "";
}

.Case-flex {
    display: flex;
    justify-content: center;
    margin-bottom: 140px;

    /* column-gap: 23px;
    margin: 0 calc(50% - 50vw);
    width: 100vw;
 */

}

.Case-child1,
.Case-child2,
.Case-child3,
.Case-child4 {
    max-width: 243px;
    max-height: 286px;
    margin: 0 11.5px;
    opacity: 0;
}

.Case-child1 {
    margin-left: 0;
}

.Case-child4 {
    margin-right: 0;
}

/* アニメーション */

.fadeUp {
    animation-name: fadeUpAnime;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fadeUpAnime {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* 装飾画像 */

.Case-child1::after {
    content: "";
    position: absolute;
    width: 10%;
    height: 204px;
    top: 3596px;
    left: 363px;
    background: url(images/img07.png) no-repeat;
    background-size: contain;
}

.Case-child4::after {
    content: "";
    position: absolute;
    width: 10%;
    height: 204px;
    top: 3419px;
    left: 1377px;
    background: url(images/img08.png) no-repeat;
    background-size: contain;
}

.Case-child1 img,
.Case-child2 img,
.Case-child3 img,
.Case-child4 img {
    width: 100%;
}

/* スマートフォン用のメイン設定 */

@media screen and (max-width:768px) {
    .pcOnly{
        display: none;
    }
    .spOnly{
        display: block;
    }
    main {
        overflow: hidden;
    }

    .main-visual {
        background-image: url();
        height: 100vh;
    }
    .WA-child.left{
        width: 100%;
    }
    .MA-child1 {
        top: -10px;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;
    }
    .MV-Area{
        height: 70vw;
    }
    .MV-Area::after{
        content: "";
        background: none;
    }
    .Whats-Area{
        flex-direction: column;
    }
    .WA-child.left{
        padding: 70px 40px 60px;
    }
    .careerImg img {
        width: 126%;
        left: -11%;
        position: relative;
    }
    .WhosA-flex {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;
    }
    .WhosA-child1, .WhosA-child2{
        width: 100%;
        margin-bottom: 30px;
        position: relative;
    }
    .how_to-Area{
        flex-direction: column;
    }
    .how_to_left{
        padding: 70px 40px 60px;
        width: 100%;
    }
    .how_to_right{
        width: 100%;
    }

    .section4 {
        background-color: #FFF8E1;
        height: 704px;
    }
    
    .Case-Area {
        width: 100%;
    }

    .Case-title {
        width: 163px;
        padding-top: 172px;
        margin-bottom: 60px;
        text-align: center;
    }
    
    .Case-title h2 {
        display: inline-block;
        border-bottom: 3px solid #775E49;
    }

    .Case-flex {
        flex-wrap: wrap;
        margin: 0 28.43px 0 22px;

    }

    .Case-child1,
    .Case-child2,
    .Case-child3,
    .Case-child4 {
    flex: 0 1 calc(50% - 10px);
    row-gap: 15.5px;
    column-gap: 12px;
    max-width: 154.57px;
    max-height: 181.93px;
    margin: 0 11.5px;
    opacity: 0;
    }

}

/* フッター */

Footer {
    width: 100vw;
    height: 228px;
    background-color: #6B5E4C;
}

.Footer-Logo {
    margin: 0 auto;
    text-align: center;
}

.top-arow {
    position: absolute;
    right: 40px;
}

.top-arow img{
    width: 70%;
}