html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    color: #775E49;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

body {
    overflow-x: hidden;
    background-color: #F4DE8E;
    font-size: 16px;
}

h1 {
    margin-bottom: 40px;
}

h2 {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 0.05em;
    border-bottom: 3px solid #775E49;
    display: inline-block;
}

.pcOnly {
    display: block;
}

.spOnly {
    display: none;
}

.txtAttention {
    font-size: 24px;
}

.txtAttention span {
    font-weight: bold;
    font-size: 24px;
}

/* 下から */

.fadeUp {
    animation-name: fadeUpAnime;
    animation-duration: 1.4s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fadeUpAnime {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* メイン */

.wrapper{
    overflow: hidden;
}

.section1 {
    background-color: #F4DE8E;
}

.container {
    width: 1200px;
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
}

.ashirai {
    position: absolute;
}

/* ヘッダー */

.Logo {
    padding-top: 34px;
    margin-left: 40px;
}

/* メインビジュアル */

.wrapper_MV-Area {
    width: 100%;
    height: 34vw;
    max-height: 520px;
}

.MV-Area {
    background-color: #FFF8E1;
    border-radius: 20px;
    box-shadow: 30px 30px #E8CC65;
    max-width: 1200px;
    width: 100%;
    height: 33vw;
    max-height: 460px;
    position: relative;
}

.MA-child0 {
    top: 0;
    position: relative;
}

.MA-child0 img {
    width: 100%;
    max-width: 1200px;
}

.MA-child1 {
    top: -10px;
    position: relative;
    display: flex;
    justify-content: center;
}

.MA-child1 .ashirai {
    top: 100px;
    left: 990px;
    position: absolute;
}


.MA-child2 {
    width: 42%;
}

.MA-child2 img {
    width: 37vw;
    max-width: 474px;
}


.MA-child3 {
    width: 36%;
}

.MA-child3 img {
    width: 24vw;
    max-width: 330px;
    top: 20px;
    position: relative;
}

.Whats-Area {
    display: flex;
    margin-top: 96px;
    margin-bottom: 64px;
}

.WA-child.left {
    width: 60%;
    text-align: left;
    background-color: #FFF8E1;
    border-radius: 20px;
    padding: 70px 80px 60px;
    line-height: 2.5rem;
}

.WA-child.left .ashirai {
    position: absolute;
    width: 10%;
}

.WA-child.left h2 {
    font-size: 40px;
    line-height: 3rem;
    margin-bottom: 32px;
    position: relative;
}

.WA-child.left h2 img {
    position: absolute;
    top: -90px;
    left: 220px;

}

.WA-child.left h2::after {
    content: "";
}

.WA-child.right {
    width: 50%;
}


/* .WA-child.right::after {


.WA-child.right p {}

.WA-child.right::after {

    content: "";
    position: absolute;
    width: 20vw;
    height: 204px;
    top: 810px;
    left: 78vw;
    background: url(images/img03.png) no-repeat;
    background-size: contain;
    z-index: 10;
} */

.WA-child.right p {

    position: relative;
    z-index: 10;
    left: 15vw;
    top: 20px;
    width: 40%;
}

.WA-child.right p::before {
    content: "";
    position: absolute;
    width: 50vw;
    height: 380px;
    top: -66px;
    left: -234px;
    background: url(images/whats-img.png) no-repeat;
    background-size: contain;
    z-index: -1;
}

.fadeUp {
    animation-name: fadeUpAnime;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.careerImg {
    padding: 0 0 120px;
}

.careerImg img {
    width: 100%;
}

/* Whos-Area */

.section2 {
    background-color: #FFF8E1;
    height: 704px;
    margin: 0 calc(50% - 50vw);
    width: 100vw;
}
.section2 .container{
    padding-bottom: 80px;
}

.Whos-Area {
    width: 100%;
}

.WhosA-flex {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.WhosA-title {
    width: 100%;
    padding-top: 120px;
    margin-bottom: 44px;
    text-align: center;
}

.WhosA-title h2 {
    display: inline-block;
    border-bottom: 3px solid #775E49;
    position: relative;
}

.WhosA-title h2 .ashirai {
    top: -76px;
    left: -70px;
}

.WhosA-child1,
.WhosA-child2 {
    width: 50%;
    margin-bottom: 100px;
    position: relative;
}

.WhosA-child1 img {
    width: 100%;
}

.WhosA-child1 .ashirai {
    top: -90px;
    left: -200px;
    width: 80%;
}

.WhosA-child2 {
    text-align: left;
    line-height: 2.5rem;
    position: relative;
}

.WhosA-child2 .ashirai {
    position: absolute;
    width: 40%;
    top: 220px;
    left: 250px;
}

.WhosA-child2 span {
    font-weight: bold;
}

/* How_to-Area */

.wrapper_How_to-Area {
    margin: 120px 0 140px;
    position: relative;
}

.wrapper_How_to-Area h2 img {
    position: absolute;
    top: -89px;
    left: 53.3vw;
}

.how_to-Area {
    display: flex;
    margin-top: 37px;
}

.how_to_left {
    width: 60%;
    text-align: left;
    background-color: #FFF8E1;
    border-radius: 20px;
    padding: 70px 80px 60px;
    line-height: 2.5rem;
    position: relative;
}

.how_to_left .ashirai {
    position: absolute;
    width: 40%;
    top: 280px;
    left: 460px;
}

.how_to_right {
    width: 50%;
}

.how_to_right img {
    width: 100%;
}

/* Case-Area */

.section4 {
    background-color: #FFF8E1;
    width: 100%;
    height: 689px;
}

.Case-Area {
    max-width: 1200px;
    width: 100%;
    position: relative;
}

.case-illust01 .ashirai{
    top: 140px;
    left: -4vw;
    width: 20%;
    z-index: 10;
}

.case-illust02 .ashirai{
    top: 160px;
    left: 65vw;
    width: 17vw;
    z-index: 10;
}

.Case-title {
    width: 216px;
    padding-top: 120px;
    text-align: center;
    margin: 120px auto 80px auto;
}

.Case-title h2 {
    display: inline-block;
    border-bottom: 3px solid #775E49;
}

/* 装飾画像 */

.Case-title {
    position: relative;
    padding-top: 172px;
    margin-bottom: 60px;
    text-align: center;
}

.Case-title h2 .ashirai{
    top: 101px;
    left: -110px;
}

.Case-flex {
    display: flex;
    justify-content: center;
    margin-bottom: 140px;

    /* column-gap: 23px;
    margin: 0 calc(50% - 50vw);
    width: 100vw;
 */

}

.Case-child1,
.Case-child2,
.Case-child3,
.Case-child4 {
    max-width: 243px;
    max-height: 286px;
    margin: 0 11.5px;
    opacity: 0;
    flex: 0 1 calc(25% - 23px);
}

.Case-child1 {
    margin-left: 0;
}

.Case-child4 {
    margin-right: 0;
}


/* 装飾画像 */

.Case-child1 .ashirai {
    top: -130px;
    left: -85px;
    width: 80%;
}

.Case-child4 .ashirai {
    position: absolute;
    width: 100%;
    top: -130px;
    left: 150px;
}

/* .Case-child1::after {
    content: "";
    position: absolute;
    width: 10%;
    height: 204px;
    top: 3596px;
    left: 363px;
    background: url(images/img07.png) no-repeat;
    background-size: contain;
}

.Case-child4::after {
    content: "";
    position: absolute;
    width: 10%;
    height: 204px;
    top: 3419px;
    left: 1377px;
    background: url(images/img08.png) no-repeat;
    background-size: contain;
} */

.Case-child1 img,
.Case-child2 img,
.Case-child3 img,
.Case-child4 img {
    width: 100%;
}

/* フッター */

Footer {
    width: 100vw;
    height: 228px;
    background-color: #6B5E4C;
}

.Footer-Logo {
    margin: 0 auto;
    text-align: center;
    top: 90px;
    position: relative;
}

.top-arrow {
    position: fixed;
    right: 0px;
    width: 132px;
    z-index: 100;
    bottom: 30px;
}

.top-arrow img{
    width: 70%;
}

/* スマートフォン用のメイン設定 */

@media screen and (max-width:768px) {
    .pcOnly {
        display: none;
    }

    .spOnly {
        display: block;
    }
    .Logo{
        margin: 0 auto;
        text-align: center;
    }
    main {
        overflow: hidden;
    }

    .main-visual {
        background-image: url();
        height: 100vh;
    }

    .WA-child.right {
        left: -20vw;
        position: relative;
    }

    .WA-child.left {
        width: 100%;
        padding: 70px 40px 60px;
        left: -6vw;
        border-radius: 0 20px 20px 0;
    }

    .WA-child.left .ashirai {
        position: absolute;
        width: 30%;
        left: 0;
    }

    .MA-child1 {
        top: -10px;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;
    }

    .MA-child2 img {
        width: 50vw;
        left: -8vw;
        max-width: 474px;
        position: relative;
    }

    .MA-child3 img {
        top: 0px;
        width: 55vw;
        max-width: 330px;
        left: -8vw;
        position: relative;
    }

    .MV-Area {
        height: 100vw;
        max-height: none;
    }

    .MV-Area::after {
        content: "";
        background: none;
    }

    .Whats-Area {
        flex-direction: column;
        margin-top: 60vw;
    }

    .WA-child {
        top: 30vw;
        padding: 70px 40px 60px;
        position: relative;
    }

    .WA-child.left h2 img{
        left: 18vw;
    }

    .careerImg img {
        width: 126%;
        left: -11%;
        position: relative;
        margin-top: 80px;
    }

    .WhosA-flex {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;
    }

    .section2 {
        height: auto;
    }

    .whosTxt{
        margin-top: 30px;
    }

    .WhosA-title h2 .ashirai {
        top: -84px;
        left: -17vw;
    }

    .WhosA-child1{
        width: 100%;
    }

    .WhosA-child1 .ashirai {
        top: -70px;
        left: -30vw;
        width: 80%;
    }

    .WhosA-child2 .ashirai {
        top: 240px;
        left: 60vw;
    }

    .WhosA-child2{
        width: 65vw;
    }

    .WhosA-child1,
    .WhosA-child2 {
        margin-bottom: 30px;
        position: relative;
    }

    .how_to-Area {
        flex-direction: column;
    }

    .how_to_left {
        padding: 70px 40px 60px;
        width: 100%;

    }
    .wrapper_How_to-Area h2 img{
        left: 12vw;
    }
    .how_to_left{
        padding: 70px 50px 60px;
        width: 90vw;
        margin: 6vw 0 0 -40px;
    }
    .how_to_left .ashirai{
        width: 40%;
        top: 360px;
        left: 65vw;
    }

    .how_to_right {
        width: 100%;
    }

    .section4 {
        background-color: #FFF8E1;
        width: 100%;
        height: 739px;
    }

    .Case-Area {
        width: 100%;
    }

    .Case-title {
        padding-top: 172px;
        margin-bottom: 60px;
        text-align: center;
    }

    .Case-title h2 {
        display: inline-block;
        border-bottom: 3px solid #775E49;
    }

    .Case-flex {
        flex-wrap: wrap;
        margin: 0 auto;
        max-width: 370px;
    }

    .Case-child1,
    .Case-child2,
    .Case-child3,
    .Case-child4 {
        flex: 0 1 calc(50% - 23px);
        row-gap: 15.5px;
        column-gap: 12px;
        max-width: 154.57px;
        max-height: 181.93px;
        margin: 10px;
        opacity: 0;
    }

    Footer {
        height: 275px;
    }
    
    .Footer-Logo {
        top: 120px;
    }

    .top-arrow{
        right: -1vw;
        width: 24vw;
    }

}


.top-arrow img {
    width: 70%;
}

