html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
    margin: 0;
    padding: 0;
}

h2 {
    letter-spacing: 0.05em;
}

* {
    box-sizing: border-box;
    color: #775E49;
}

/* メイン */

.section1 {
   background-color: #F4DE8E;
}

.container {
    width: 1200px;
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
}

/* ヘッダー */

.Logo {
    padding-top: 34px;
    margin-left: 40px;
}

/* メインビジュアル */

.wrapper_MV-Area {
    width: 100%;
    height: 432px;

}

.MV-Area {
    background-color: #FFF8E1;
    border-radius: 20px;
    box-shadow: 10 10 0 #E8CC65;
}

.MA-child1 {
    float: right;
    width: 100%;
}

.MA-child2 {
    float: right;
}

.fadeUp {
    animation-name: fadeUpAnime;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.MA-child3-1 {
    float: left;

}

.MA-child3-2 {
    float: right;
    background-image: url(images/img01.png);
}

/* Whos-Area */

.section2 {
    background-color: #FFF8E1;
    height: 704px;
    }

.Whos-Area {
    width: 100%;
}

.WA-flex {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.WA-title {
    width: 100%;
    padding-top: 120px;
    margin-bottom: 44px;
    text-align: center;
}

.WA-title h2 {
    display: inline-block;
    border-bottom: 3px solid #775E49;
}

.WA-child1,
.WA-child2 {
    width: 50%;
    margin-bottom: 100px;
}

.WA-child1 img {
    width: 526px;
    height: 374px;
}

.WA-child2 {

}

.WA-child2 span {
    font-weight: bold;
}

/* .Whos-Area,
.How_to-Area,
.Case-Area h2 {
    border-bottom: 3px solid #775E49;
} */

/* How_to-Area */

.wrapper_How_to-Area {}

/* Case-Area */

.wrapper_Case-Area {}

/* スマートフォン用のメイン設定 */

@media screen and (max-width:768px) {
    main {
        overflow: hidden;
    }

    .main-visual {
        background-image: url();
        height: 100vh;
    }
}

/* フッター */

Footer {
    width: 100%;
    height: 228px;
    background-color: #6B5E4C;
}

.Footer-Logo {
    margin: 0 auto;
}

.top-arow {
    float: left;
    margin-right: 31px;
    margin-bottom: 28px;
}